<%= form_for @literature, html: {class: "form-horizontal"} do |f| %>
  <% if @literature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@literature.errors.count, "error") %> prohibited this literature from being saved:</h2>

      <ul>
      <% @literature.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :author, class: "col-xs-12 col-sm-2 control-label" %><br>
    <div class="col-xs-12 col-sm-8">
      <%= f.text_field :author, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :title, class: "col-xs-12 col-sm-2 control-label" %><br>
    <div class="col-xs-12 col-sm-8">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :subtitle, class: "col-xs-12 col-sm-2 control-label" %><br>
    <div class="col-xs-12 col-sm-8">
      <%= f.text_field :subtitle, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :published_at, class: "col-xs-12 col-sm-2 control-label" %><br>
    <div class="col-xs-12 col-sm-8">
      <%= f.text_field :published_at, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :publisher, class: "col-xs-12 col-sm-2 control-label" %><br>
    <div class="col-xs-12 col-sm-8">
      <%= f.text_field :publisher, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :year, class: "col-xs-12 col-sm-2 control-label" %><br>
    <div class="col-xs-12 col-sm-8">
      <%= f.number_field :year, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :cover_file, class: "col-xs-12 col-sm-2 control-label" %><br>
    <div class="col-xs-12 col-sm-8">
      <%= f.text_field :cover_file, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :url, class: "col-xs-12 col-sm-2 control-label" %><br>
    <div class="col-xs-12 col-sm-8">
      <%= f.text_field :url, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit "Speichern", class: "center-block btn btn-primary"%>
  </div>
<% end %>
