<%= simple_form_for @literature, html: {class: "form-horizontal"}, wrapper: :horizontal_form do |f| %>
  <% if @literature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@literature.errors.count, "error") %> prohibited this literature from being saved:</h2>

      <ul>
      <% @literature.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :author, label: "Autor" %>
  <%= f.input :title, label: 'Titel' %>
  <%= f.input :subtitle, label: "Untertitel" %>
  <%= f.input :published_at, label: "Verlagsort" %>
  <%= f.input :publisher, label: "Verlag" %>
  <%= f.input :year, label: "Jahr" %>
  <%= f.input :cover_file, label: "Titelbild" %>
  <%= f.input :url, label: "URL" %>
  <%= f.button :submit, "Speichern", class: "center-block btn btn-primary"%>
<% end %>
