<div class="section-container">
  <div class="row">
    <!-- book cover -->
    <div class="col-xs-12 col-sm-3 col-sm-offset-1">
      <div class="section-image">
        <img src='<%= book.cover.image_url %>' class="img-responsive">
      </div>
    </div>
    <!-- book info -->
    <div class="col-xs-12 col-sm-7">
      <div class="section-head">
        <h4><%= book.title %></h4></br>
        <h5><%= book.subtitle %></h5>
      </div>

      <div class="section-text">
        <p class="section-subtext">
          Von <%= book.authors %>.
          <%= book.published_at %> <%= book.year %>,
          Verlag <%= book.publisher %>.
        </p>
        <p class="text-right">
          <%= link_to book.shop_url, target: "_blank" do%>
            <span class="glyphicon glyphicon-link"></span>
            Zum Buchshop
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
