<!-- about this site -->
<div id="literatures-title" class="literature">
  <div class="container">
    <div class="section-head text-center">
      <h3><span class="frist"> </span>LITERATUR<span class="second"></span></h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
    </div>
  </div>
  <div class="clearfix"> </div>
</div>
<!--//about this site---->

<!-- about this site -->
<div id="literatures-liste" class="literature-list">
  <div class="container">
    <% @literatures.each do |literature| %>
        <% if current_user %>
          <%= link_to 'Anzeigen', literature %> |
          <%= link_to 'Bearbeiten', edit_literature_path(literature) %> |
          <%= link_to 'Löschen', literature, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        <div class="col-xs-12 col-md-2">
          <img src='<%= image_url("bookcovers/#{literature.cover_file}")%>' class="img-responsive">
        </div>
        <div class="col-xs-12 col-md-10">
          <h4><%= literature.title %></h4>
          <p><%= literature.subtitle %></p>
          <p><%= literature.author %></p>
          <p><%= literature.year %></p>
          <p><%= literature.published_at %></p>
          <p><%= literature.publisher %></p>
          <p><%= link_to "Buch kaufen", literature.url%></p>
        </div>
      </div>
    <% end %>
  <div class="clearfix"> </div>
</div>
<!--//about this site---->

<br>

<% if current_user %>
  <%= link_to 'New Literature', new_literature_path %>
<% end %>
