<div class="container chapter-container">
  <div class="chapter-head">
    <h3>Literatur</h3>
  </div>
  <div class="chapter-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
  </div>

  <% @literatures.each do |literature| %>
    <div class="section-container">
      <div class="row">
        <!-- book cover -->
        <div class="col-xs-12 col-sm-3 col-sm-offset-1">
          <div class="section-image">
            <img src='<%= image_url("bookcovers/#{literature.cover_file}")%>' class="img-responsive">
          </div>
        </div>
        <!-- book info -->
        <div class="col-xs-12 col-sm-7">
          <div class="section-head">
            <h4><%= literature.title %></h4></br>
            <h5><%= literature.subtitle %></h5>
            <% if current_user %>
              <p>
                <%= link_to 'Anzeigen', literature %> |
                <%= link_to 'Bearbeiten', edit_literature_path(literature) %> |
                <%= link_to 'Löschen', literature, method: :delete, data: { confirm: 'Are you sure?' } %>
              </p>
            <% end %>
          </div>

          <div class="section-text">
            <p class="section-subtext">
              Von <%= literature.author %>.
              <%= literature.published_at %> <%= literature.year %>,
              Verlag <%= literature.publisher %>.
            </p>
            <p class="text-right">
              <%= link_to literature.url, target: "_blank" do%>
                <span class="glyphicon glyphicon-link"></span>
                Zum Buchshop
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if current_user %>
  <div class="container importer-container">
    <div><%= link_to 'Neue Literatur', new_literature_path %></div>
  </div>
<% end %>
