<div class="container section-container-first">
  <div class="section-head">
    <h3>Literatur</h3>
  </div>
  <div class="section-text">
    <p>Lorem Ipsum ...</p>
  </div>
</div>

<% @literatures.each do |literature| %>
  <div class="container section-container">
    <div class="section-head">
      <h4><%= literature.title %></h4></br>
      <h5><%= literature.subtitle %></h5>
    </div>

    <% if current_user %>
      <div class="section-text-last">
        <p>
          <%= link_to 'Anzeigen', literature %> |
          <%= link_to 'Bearbeiten', edit_literature_path(literature) %> |
          <%= link_to 'Löschen', literature, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      </div>
    <% end %>

    <div class="section-text">
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <img src='<%= image_url("bookcovers/#{literature.cover_file}")%>' class="img-responsive">
        </div>
        <div class="col-xs-12 col-sm-9">
          <p><strong>Autor(ren): </strong><%= literature.author %></p>
          <p><strong>Verlag: </strong><%= literature.publisher %></p>
          <p><strong>Erscheinungsjahr: </strong><%= literature.year %></p>
          <p><strong>Verlagsort: </strong><%= literature.published_at %></p>
          <p><%= link_to "Buch kaufen", literature.url%></p>
        </div>
      </div>
    </div>
  </div>
<% end %>


<% if current_user %>
  <div class="container section-container importer-container">
    <div class="section-container-last">
      <div><%= link_to 'Neue Literatur', new_literature_path %></div>
    </div>
  </div>
<% end %>
