<div class="container section-container-first">
  <div class="section-head">
    <h3><%= @literature.title %></h3>
  </div>

  <% if current_user %>
    <div class="section-text-last">
      <p>
        <%= link_to 'Bearbeiten', edit_literature_path(@literature) %> |
        <%= link_to 'Löschen', @literature, method: :delete, data: { confirm: 'Bist du dir sicher?' } %>
      </p>
    </div>
  <% end %>

  <div class="section-text-last">
    <p>
      <strong>Subtitle:</strong>
      <%= @literature.subtitle %>
    </p>

    <p>
      <strong>Author:</strong>
      <%= @literature.author %>
    </p>

    <p>
      <strong>Published at:</strong>
      <%= @literature.published_at %>
    </p>

    <p>
      <strong>Publisher:</strong>
      <%= @literature.publisher %>
    </p>

    <p>
      <strong>Year:</strong>
      <%= @literature.year %>
    </p>

    <p>
      <strong>Cover file:</strong>
      <%= @literature.cover_file %>
    </p>

    <p>
      <strong>Url:</strong>
      <%= @literature.url %>
    </p>
  </div>
</div>

<div class="container section-container">
  <div class="section-text-last">
    <%= link_to 'Zurück zur Liste der Literaturen', literatures_path %>
  </div>
</div>
