<%= simple_form_for @tour, html: {class: "form-horizontal"}, wrapper: :horizontal_form do |f| %>
  <% if @tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
      <% @tour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :image_path, label: "Bildpfad", placeholder: "Bitte die volle Adresse eingeben: http://..." %>
  <%= f.input :name, label: "Name" %>
  <%= f.input :description, label: "Beschreibung", style: "height: 400px", placeholder: "Hier können Html-Code verwendet werden!"%>
  <%= f.input :comments, label: "Kommentare", style: "height: 400px", placeholder: "Hier können Html-Code verwendet werden!"%>

  <%= f.button :submit, "Speichern", class: "center-block btn btn-primary" %>
<% end %>
