<!-- about this site -->
<div class="container chapter-container">
  <div class="chapter-head">
    <h3>Touren</h3>
  </div>
  <div class="chapter-text">
    <p>Anhand der Standorte der in den Fotografien festgehaltenen Objekte sind drei ortsbezogene Touren entstanden. Das Kriterium der Zusammenstellung ist dabei kein zwingend inhaltliches, sondern die zu Fuß gut zu bewältigende Entfernung der Objekte zueinander war ausschlaggebend. Entsprechend haben wir keine verbindliche Reihenfolge festgelegt, sondern verstehen die Touren als Vorschläge. Die einzelnen Beiträge sind unabhängig voneinander erstellt und daher ebenso gut nach persönlichen Vorlieben zusammenstellbar. Jeder Tour ist ein kurzer Einführungstext vorangestellt, der die städtebauliche Dimension der Objekte thematisiert und sie damit in einen größeren Kontext stellt.</p>
  </div>
  <!--//about this site---->

  <% @tours.each do |tour| %>
    <div class="section-container">
      <div class="row">
        <!-- tour cover -->
        <div class="col-xs-12 col-sm-4">
          <div class="section-image">
            <img src="<%=tour.image_path%>" class="img-responsive" alt='<%="#{tour.name}-Tour-Cover"%>'>
          </div>
        </div>
        <!-- tour info -->
        <div class="col-xs-12 col-sm-8">
          <div class="section-head">
            <h4><%= tour.name %></h4>
            <% if current_user %>
              <p>
                <%= link_to 'Anzeigen', tour %> |
                <%= link_to 'Bearbeiten', edit_tour_path(tour) %> |
                <%= link_to 'Löschen', tour, method: :delete, data: { confirm: 'Are you sure?' } %>
              </p>
            <% end %>
          </div>

          <div class="section-text">
            <p>
              <%= raw tour.description.truncate(250, seperator: /\w/) %>
            </p>
            <p class="text-right">
              <%= link_to tour_path(tour) do%>
                <span class="glyphicon glyphicon-link"></span>
                Zur Tour
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="section-container">
    <div class="section-text">
      <p>Wir planen, die bisher verfügbaren <%= link_to "27 Gebäude", buildings_path %> nicht als Ende unserer Arbeit, sondern vielmehr als Grundstock für weitere hinzukommende Objekte anzusehen. Auch weitere Features sind in Vorbereitung, sodass Touren bald nach individuellen Kriterien zusammengestellt werden können. Denkbar ist nicht nur eine Auswahl nach Jahrzehnt der Entstehung (z.B. eine Tour ausschließlich mit Bauten der 60er Jahre), sondern beispielsweise auch nach Architekt, bedeutender Kunst am Bau, verfügbaren Baustellen-Fotos und vielem anderen.</p>
    </div>
  </div>
</div>

<% if current_user %>
  <div class="container importer-container">
    <p><%= link_to 'Neue Tour', new_tour_path %></p>
  </div>
<% end %>
