<!-- about this site -->
<div class="container section-container-first">
  <div class="section-head">
    <h3>Touren</h3>
  </div>
  <div class="section-text">
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
  </div>
</div>
<!--//about this site---->

<% @tours.each do |tour| %>
  <div class="container section-container">
    <div class="section-head">
      <h4><%= tour.name %></h4>
    </div>

    <% if current_user %>
      <div class="section-text-last">
        <p>
          <%= link_to 'Anzeigen', tour %> |
          <%= link_to 'Bearbeiten', edit_tour_path(tour) %> |
          <%= link_to 'Löschen', tour, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      </div>
    <% end %>

    <div class="section-text">
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
    </div>
  </div>
<% end %>

<% if current_user %>
  <div class="container section-container importer-container">
    <div class="section-container-last">
      <p><%= link_to 'New Tour', new_tour_path %></p>
    </div>
  </div>
<% end %>
