<div class="container chapter-container">
  <div class="chapter-head">
    <h3>Tour <%= @tour.name %></h3>
    <% if current_user %>
      <p>
        <%= link_to 'Bearbeiten', edit_tour_path(@tour) %> |
        <%= link_to 'Löschen', @tour, method: :delete, data: { confirm: 'Bist du dir sicher?' } %>
      </p>
    <% end %>
  </div>

  <div class="chapter-text">
    <p><%= @tour.description.html_safe %></p>
  </div>
</div>

<div class="container">
  <a name="map-anchor"></a>
  <div id="buildings-map" style='width: 100%; height: 450px;'></div>
</div>

<div class="container chapter-container">
  <div class="section-container">
    <div class="section-head">
      <p>Klick auf den Gebäudenamen, um es auf der Karte anzuzeigen.</p>
    </div>
    <!-- building list -->
    <div class="section-text">
      <div id="buildings-grid">
      </div>
    </div>
  </div>

  <% if current_user %>
    <div class="section-text">
      <p><strong>Kommentare: </strong><%= @tour.comments %></p>
    </div>
  <% end %>

  <div class="section-container">
    <div class="section-text">
      <%= link_to tours_path do %>
        <span class="glyphicon glyphicon-th-list"></span> Zur Liste der Touren
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  buildingsMap( <%= raw @hash.to_json %> );
  buildBuildingsList( <%= raw @hash.to_json %> );

  $(window).load(function(){
    bindGridItemsToMarker();
  });

  $(window).resize(_.debounce(function(){
    bindGridItemsToMarker();
  },500));

</script>
