<%= simple_form_for @building, html: {class: "form-horizontal"}, wrapper: :horizontal_form do |f| %>
  <% if @building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
      <% @building.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name, label: "Name" %>

  <%= f.input :latitude, label: "Geolocation" do %>
    <%= f.input :latitude, label: false, placeholder: "latitude" %>
    <%= f.input :longitude, label: false, placeholder: "longitude" %>
  <% end %>

  <%= f.input :street_name, label: "Adresse" do %>
    <%= f.input :street_name, label: false, placeholder: "Straße"%>
    <%= f.input :house_no , label: false, placeholder: "Nr."%>
    <%= f.input :zipcode, label: false, placeholder: "PLZ"%>
    <%= f.input :city, label: false, placeholder: "Stadt"%>
  <% end %>

  <%= f.input :architect, label: "Architect(en)" do %>
    <%= f.input :architect, label: false, placeholder: "Architekt 1" %>
    <%= f.input :architect_2, label: false, placeholder: "Architekt 2" %>
    <%= f.input :architect_3, label: false, placeholder: "Architekt 3"%>
  <% end %>

  <%= f.input :build_from, label: "Baujahr 1" do %>
    <%= f.input :built_from, label: false, placeholder: "vom" %>
    <%= f.input :built_to, label: false, placeholder: "bis" %>
  <% end %>

  <%= f.input :build_from_2, label: "Baujahr 2" do %>
    <%= f.input :built_from_2, label: false, placeholder: "vom" %>
    <%= f.input :built_to_2, label: false, placeholder: "bis" %>
  <% end %>

  <%= f.association :tour, label: "Tour", include_blank: true %>

  <%= f.input :tour_position, label: "Tour-Position" %>

  <%= f.input :description, label: "Beschreibung", placeholder: "..."%>

  <%= f.input :wiki_url, label: "Wikipedia URL" %>
  <%= f.input :wiki_common_url, label: "Wikimedia Common URL" %>
  <%= f.input :denkmalliste_url, label: "Denkmalliste URL" %>
  <%= f.input :grossstadt_url, label: "Grossstadtgeschichte URL" %>

  <%= f.input :wiki_url, label: "Andere URLs" do %>
    <%= f.input :other_url, label: false, placeholder: "URL 1"%>
    <%= f.input :other_url_2, label: false, placeholder: "URL 2"%>
  <% end %>

  <%= f.input :video_url, label: "Video URL" %>
  <%= f.input :video_description, label: "Video Beschreibung", style: "height: 250px", placeholder: "Hier Beschreibungen zum Video eintragen ..."%>

  <%= f.input :comments, label: "Kommentare", style: "height: 250px", placeholder: "Hier Kommentare eintragen ..."%>

  <%= f.button :submit, "Speichern", class: "center-block btn btn-primary" %>
<% end %>
