<div id='<%="building-#{building.id}"%>' class="marker-infowindow">
  <table>
    <tbody>
      <tr>
        <td width="150px">
          <% if building.image_path %>
            <img src="<%= building.image_path %>" width="150px" height="150px">
          <% end %>
        </td>
        <td width="150px">
          <p style="font-weight: bold; font-size: 18px; text-transform: uppercase"><%= building.name %></p>
          <p>
            <address><%= building.address %></br></address>
          </p>
          <p class="text-right">
            <%= link_to building_path(building.id) do %>
              <span class="glyphicon glyphicon-link"></span> Zu den Details
            <% end %>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
