<div id='<%="building-#{object.id}"%>' class="marker-infowindow">
  <table>
    <tbody>
      <tr>
        <td width="150px">
          <% if object.photos.first %>
            <img src="<%= object.photos.first.path_150px %>" width="150px" height="150px">
          <% end %>
        </td>
        <td width="150px">
          <p style="font-weight: bold; font-size: 18px; text-transform: uppercase"><%= object.name %></p>
          <p>
            <address>
              <%= "#{object.street_name} #{object.house_no}" %></br>
              <%= "#{object.zipcode} #{object.city}" %>
            </address>
          </p>
          <p class="text-right">
            <%= link_to building_path(object) do %>
              <span class="glyphicon glyphicon-link"></span> Zu den Details
            <% end %>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
