<!-- about this site -->
<div id="building-title" class="site">
  <div class="container">
    <div class="section-head text-center">
      <h3><span class="first"> </span>GEBÄUDE<span class="second"></span></h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
    </div>
  </div>
  <div class="clearfix"> </div>
</div>
<!--//about this site---->

<div class="container">
  <div id="map" style='width: 100%; height: 450px;'></div>
</div>

<div class="container">
  <div id="building" style='width: 100%; height: 450px;'></div>
</div>

<div class="col-xs-12">
  <% @buildings.each do |building| %>
    <h2 class="col-sm-12 col-md-12 col-lg-12">
      <%= "#{building.id}. #{building.name}" %>
    </h2>
    <% if current_user %>
      <p class="col-sm-12 col-md-12 col-lg-12">
        <%= link_to 'Anzeigen', building %> |
        <%= link_to 'Bearbeiten', edit_building_path(building) %> |
        <%= link_to 'Löschen', building, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
    <% end %>
    <p class="col-xs-12 col-sm-12">
      <strong>Geolocation: </strong><%= "#{building.latitude}, #{building.longitude}"%>
    </p>
    <p class="col-xs-12 col-sm-12">
      <strong>Architekt(en): </strong><%= "#{building.architect}, #{building.architect_2}, #{building.architect_3}"%>
    </p>
    <p class="col-xs-12 col-sm-12">
      <strong>Baujahr: </strong><%= "#{building.built_from}-#{building.built_to}; #{building.built_from_2}-#{building.built_to_2}" %>
    </p>
    <p class="col-xs-12 col-sm-12">
      <strong>Tour: </strong>
        <% if building.tour %>
          <%= building.tour.name %>
        <% end %>
    </p>
    <p class="col-xs-12 col-sm-12">
      <strong>Beschreibung: </strong><%= building.description %>
    </p>
    <p class="col-xs-12 col-sm-12">
      <strong>Wikipedia URL: </strong><%= building.wiki_url %>
    </p>
    <p class="col-xs-12 col-sm-12">
      <strong>Wikimedia Common URL: </strong><%= building.wiki_common_url %>
    </p>
    <p class="col-xs-12 col-sm-12">
      <strong>Denkmalliste URL: </strong><%= building.denkmalliste_url %>
    </p>
    <p class="col-xs-12 col-sm-12">
      <strong>Großstadt URL: </strong><%= building.grossstadt_url %>
    </p>
    <p class="col-xs-12 col-sm-12">
      <strong>Andere URLs: </strong><%= "#{building.other_url}, #{building.other_url_2}"%>
    </p>

    <% if current_user %>
      <p class="col-xs-12 col-sm-12">
        <strong>Kommentare: </strong><em><%= building.comments %></em>
      </p>
    <% end %>

    <% building.photos.each do |photo| %>
      <div class="col-xs-12 col-sm-3">
        <img src="<%= photo.path %>" class="img-responsive">
      </div>
    <% end %>
  <% end %>
</div>

<div class="col-xs-12">
  <% if current_user %>
  <%= link_to 'New Building', new_building_path %>
    <h3>Import Buildings</h3>
    <%= form_tag import_buildings_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag 'Import' %>
    <% end %>
  <% end %>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    buildMap(<%= raw @hash.to_json %>);
  </script>
<% end %>
