<!-- about this site -->
<div id="building-title" class="site">
  <div class="container">
    <div class="section-head text-center">
      <h3><span class="first"> </span>GEBÄUDE<span class="second"></span></h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
    </div>
  </div>
  <div class="clearfix"> </div>
</div>
<!--//about this site---->

<div class="container">
  <div id="map" style='width: 100%; height: 450px;'></div>
</div>

<div class="container-text">
  <div id="building" style='width: 100%; height: 450px;'>
    <%= render partial: 'building' %>
  </div>
</div>

<% if current_user %>
<div id="buildings-importer" class="importer">
  <div class="container-text">
    <div><%= link_to 'New Building', new_building_path %></div>
    <div class="container-title">Import Buildings</div>
    <div>
      <%= form_tag import_buildings_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag 'Import'%>
      <% end %>
    </div>
  </div>
  <div class="clearfix"> </div>
</div>
<% end %>

<% content_for :javascript do %>
  <script type="text/javascript">
    buildMap(<%= raw @hash.to_json %>);
  </script>
<% end %>
