<h1>Gebäude</h1>

<div style='width: 100%;'>
  <div id="map" style='width: 100%; height: 400px;'></div>
</div>

<% @buildings.each do |building| %>
  <h2 class="col-sm-12 col-md-12 col-lg-12">
    <%= "#{building.id}. #{building.name}" %>
  </h2>
  <% if current_user %>
    <p class="col-sm-12 col-md-12 col-lg-12">
      <%= link_to 'Anzeigen', building %> |
      <%= link_to 'Bearbeiten', edit_building_path(building) %> |
      <%= link_to 'Löschen', building, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>
  <p class="col-sm-12 col-md-12 col-lg-12">
    <strong>Geolocation: </strong><%= "#{building.latitude}, #{building.longitude}"%>
  </p>
  <p class="col-sm-12 col-md-12 col-lg-12">
    <strong>Architekt(en): </strong><%= "#{building.architect}, #{building.architect_2}, #{building.architect_3}"%>
  </p>
  <p class="col-sm-12 col-md-12 col-lg-12">
    <strong>Baujahr: </strong><%= "#{building.built_from}-#{building.built_to}; #{building.built_from_2}-#{building.built_to_2}" %>
  </p>
  <p class="col-sm-12 col-md-12 col-lg-12">
    <strong>Beschreibung: </strong><%= building.description %>
  </p>
  <p class="col-sm-12 col-md-12 col-lg-12">
    <strong>Wikipedia URL: </strong><%= building.wiki_url %>
  </p>
  <p class="col-sm-12 col-md-12 col-lg-12">
    <strong>Wikimedia Common URL: </strong><%= building.wiki_common_url %>
  </p>
  <p class="col-sm-12 col-md-12 col-lg-12">
    <strong>Denkmalliste URL: </strong><%= building.denkmalliste_url %>
  </p>
  <p class="col-sm-12 col-md-12 col-lg-12">
    <strong>Großstadt URL: </strong><%= building.grossstadt_url %>
  </p>
  <p class="col-sm-12 col-md-12 col-lg-12">
    <strong>Andere URLs: </strong><%= "#{building.other_url}, #{building.other_url_2}"%>
  </p>

  <% if current_user %>
    <p class="col-sm-12 col-md-12 col-lg-12">
      <strong>Kommentare: </strong><em><%= building.comments %></em>
    </p>
  <% end %>
<% end %>

<br>

<% if current_user %>
<%= link_to 'New Building', new_building_path %>
  <h3>Import Buildings</h3>
  <%= form_tag import_buildings_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag 'Import' %>
  <% end %>
<% end %>

<script>

function initialize() {
  var handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    var markers = handler.addMarkers( <%= raw @hash.to_json %> );
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
}

function loadScript() {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp' +
      '&callback=initialize';
  document.body.appendChild(script);
}

window.onload = loadScript;

</script>
