<div class="container">
  <div id="building-map" style='width: 100%; height: 450px;'></div>
</div>

<div class="container chapter-container">
  <div class="row">
    <div class="col-xs-1 text-left">
      <%= link_to building_path(prev_building(@building.id).id), title: 'Zum vorherigen Gebäude' do%>
        <span class="glyphicon glyphicon-chevron-left chapter-prev"></span>
      <% end %>
    </div>

    <div class="col-xs-9 col-sm-10">
      <div class="chapter-head">
        <h3><%= @building.name %></h3>
        <% if @building.try(:subtitle).try(:present?) %>
          <h4><%= parse_markdown(@building.subtitle) %></h4>
        <% end %>
      </div>
    </div>

      <div class="col-xs-1 text-right">
      <%= link_to building_path(next_building(@building.id).id), title: 'Zum nächsten Gebäude' do %>
        <span class="glyphicon glyphicon-chevron-right chapter-next"></span>
      <% end %>
    </div>
  </div>

  <div class="chapter-text">
    <% if @building.try(:teaser).try(:present?) %>
      <p><%= parse_markdown(@building.teaser) %></p>
    <% end %>
  </div>

  <div class="section-container">
    <div class="section-text">
      <table class="table table-condensed">
        <tbody>
          <tr>
            <td><span class="info">Adresse: </span></td>
            <td><%= @building.address %></td>
          </tr>
          <tr>
            <td><span class="info">Entwurf: </span></td>
            <td><%= architects_to_str(@building) %></td>
          </tr>
          <tr>
            <td><span class="info">Datierung: </span></td>
            <td><%= built_dates_to_str(@building) %></td>
          </tr>
          <% if @building.try(:status) %>
            <tr>
              <td><span class="info">Status: </span></td>
              <td><%= @building.status %></td>
            </tr>
          <% end %>
          <% if external_urls_to_str(@building).present? %>
            <tr>
              <td><span class="info">Externe Links: </span></td>
              <td><%= external_urls_to_str(@building) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="chapter-text">
    <p><%= parse_markdown(@building.description) %></p>
    <% if @building.try(:tour) %>
      <p>Dieses Gebäude gehört zur Tour <%= link_to @building.tour.name, tour_path(@building.tour.id) %>.</p>
    <% end %>
  </div>
</div>

<% if @photos %>
  <div class="container photo-container">
    <div class="row">
      <% @photos.each do |photo| %>
        <div class="col-xs-12 col-sm-4 col-md-3" %>
          <a href='<%= photo.file.url %>' class="swipebox" title="<%= @building.name %>">
            <img src='<%= photo.file.url %>' class='img-responsive' alt='<%= photo.title %>'>
          </a>
          <p class="byline"><%= photo.description %></p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% if @videos %>
  <div class="container chapter-container">
    <div class="section-container">
      <% @videos.each do |video| %>
        <% if video.try(:description) %>
          <div class="section-text">
            <p><%= video.description %></p>
          </div>
        <% end %>

        <div class="video-container">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embeded-responsive-item" src=<%= video.url %> allowfullscreen></iframe>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="container chapter-container">
  <div class="section-container">
    <div class="section-text">
      <%= link_to buildings_path do %>
        <span class="glyphicon glyphicon-th-list"></span> Zur Liste der Gebäude
      <% end %>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'building-map'}}, function(){
      markers = handler.addMarkers([
        {
          "lat": "<%= @building.latitude %>",
          "lng": "<%= @building.longitude %>",
          "infowindow": "<%= @building.name %>"
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(14);
    });
  </script>
<% end %>
