<div class="container">
  <div id="building-map" style='width: 100%; height: 450px;'></div>
</div>

<div class="container chapter-container">
  <div class="row">
    <div class="col-xs-1 text-left">
      <%= link_to building_path(prev_building(@building.id)), title: " Zum vorherigen Gebäude" do%>
        <span class="glyphicon glyphicon-chevron-left chapter-prev"></span>
      <% end %>
    </div>

    <div class="col-xs-10">
      <div class="chapter-head">
        <h3><%= @building.name %></h3>

        <div class="col-xs-12">
          <% if current_user %>
            <p>
              <%= link_to 'Bearbeiten', edit_building_path(@building) %> |
              <%= link_to 'Löschen', @building, method: :delete, data: { confirm: 'Bist du dir sicher?' } %>
            </p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-xs-1 text-right">
      <%= link_to building_path(next_building(@building.id)), title: "Zum nächsten Gebäude" do %>
        <span class="glyphicon glyphicon-chevron-right chapter-next"></span>
      <% end %>
    </div>
  </div>

  <div class="chapter-text">
    <p class="section-subtext">
      <strong>Architekt(en): </strong><%= @building.architects_str %> |
      <strong>Baujahr: </strong><%= @building.built_dates_str %>
    </p>
    <p><%= @building.description %></p>
    <% if @building.tour %>
      <p>Dieses Gebäude gehört zur Tour <%= link_to @building.tour.name, tour_path(@building.tour) %>.</p>
    <% end %>
  </div>

  <div class="section-container">
    <div class="section-text">
      <p><strong>Externe Links: </strong>
        <%= url_html(@building.wiki_url, "Wikipedia") %>
        <%= url_html(@building.wiki_common_url, "Wikimedia Common") %>
        <%= url_html(@building.denkmalliste_url, "Denkmalliste") %>
        <%= url_html(@building.grossstadt_url, "Großstadt") %>
        <%= url_html(@building.other_url, "Link 1") %>
        <%= url_html(@building.other_url_2, "Link 2") %>
        <%= url_html(@building.video_url, "Video") %>
      </p>
      <% if current_user %>
        <p>
          <strong>Kommentare: </strong><em><%= @building.comments %></em>
        </p>
      <% end %>
    </div>
  </div>
</div>

<div class="container photo-container">
  <div class="row">
    <% @building.photos.each do |p| %>
      <div class="col-xs-12 col-sm-4 col-md-3" %>
        <a href='<%= p.path %>' class="swipebox" title="<%=@building.name%>">
          <img src='<%= p.path %>' class='img-responsive'>
        </a>
        <p class="byline">Foto: <%= p.photographer %>, <%=p.year%></p>
      </div>
    <% end %>
  </div>
</div>

<div class="chapter-container">
  <div class="section-container">
    <div class="section-text">
      <%= link_to buildings_path do %>
        <span class="glyphicon glyphicon-th-list"></span> Zur Liste der Gebäude
      <% end %>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'building-map'}}, function(){
      markers = handler.addMarkers([
        {
          "lat": "<%= @building.latitude %>",
          "lng": "<%= @building.longitude %>",
          "infowindow": "<%= @building.name %>"
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(14);
    });
  </script>
<% end %>
