<div class="container">
  <div id="building-map" style='width: 100%; height: 450px;'></div>
</div>

<div class="container section-container-first">
  <div class="section-head">
    <h3><%= @building.name %></h3>
  </div>

  <% if current_user %>
    <div class="section-text-last">
      <p>
        <%= link_to 'Bearbeiten', edit_building_path(@building) %> |
        <%= link_to 'Löschen', @building, method: :delete, data: { confirm: 'Bist du dir sicher?' } %>
      </p>
    </div>
  <% end %>

  <div class="section-text-last">
    <p><strong>Architekt(en): </strong><%= @building.architects_str %></p>
    <p><strong>Baujahr: </strong><%= @building.built_dates_str %></p>
    <p><%= @building.description %></p>
    <% if @building.tour %>
      <p>Dieses Gebäude gehört zur Tour <%= link_to @building.tour.name, tour_path(@building.tour) %>.</p>
    <% end %>
    <p><strong>Externe Links: </strong>
      <%= url_html(@building.wiki_url, "Wikipedia") %>
      <%= url_html(@building.wiki_common_url, "Wikimedia Common") %>
      <%= url_html(@building.denkmalliste_url, "Denkmalliste") %>
      <%= url_html(@building.grossstadt_url, "Großstadt") %>
      <%= url_html(@building.other_url, "Link 1") %>
      <%= url_html(@building.other_url_2, "Link 2") %>
      <%= url_html(@building.video_url, "Video") %>
    </p>
    <% if current_user %>
      <p>
        <strong>Kommentare: </strong><em><%= @building.comments %></em>
      </p>
    <% end %>
  </div>

  <div class="section-text-last">
    <div class="row">
      <% @building.photos.each do |p| %>
        <div class="col-xs-12 col-sm-4 col-md-3" %>
          <img src='<%= p.path %>' class="img-responsive">
          <p><small>Fotografiert von <%= p.photographer %></small></p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="section-text-last">
    <%= link_to "Zurück zur Liste der Gebäuden", buildings_path %>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'building-map'}}, function(){
      markers = handler.addMarkers([
        {
          "lat": "<%= @building.latitude %>",
          "lng": "<%= @building.longitude %>",
          "infowindow": "<%= @building.name %>"
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(14);
    });
  </script>
<% end %>
