<%= form_for @photo, html: {class: "form-horizontal"} do |f|%>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Indexkarte Nr:", class: "col-xs-12 col-sm-3 control-label" %>
    <div class="col-xs-12 col-sm-8">
      <%= f.text_field :index_card_no, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Foto Nr:", class: "col-xs-12 col-sm-3 control-label", placeholder: "Bitte auf Großschreibung achten!" %>
    <div class="col-xs-12 col-sm-8">
      <%= f.text_field :photo_no, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Fotograf:", class: "col-xs-12 col-sm-3 control-label" %>
    <div class="col-xs-12 col-sm-8">
      <%= f.text_field :photographer, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Jahr:", class: "col-xs-12 col-sm-3 control-label" %>
    <div class="col-xs-12 col-sm-8">
      <%= f.text_field :year, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Typ:", class: "col-xs-12 col-sm-3 control-label" %>
    <div class="col-xs-12 col-sm-8">
      <%= f.text_field :classification, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Gebäude:", class: "col-xs-12 col-sm-3 control-label" %>
    <div class="col-xs-12 col-sm-8">
      <%= f.collection_select :building_id, Building.order(:name), :id, :name, include_blank: true, class: "form-control"%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Inhalt: ", class: "col-xs-12 col-sm-3 control-label"%>
    <div class="col-xs-12 col-sm-8">
      <%= f.text_area :content, class: "form-control", style: "height: 200px", placeholder: "Beschreibung"%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Besitz:", class: "col-xs-12 col-sm-3 control-label" %>
    <div class="col-xs-12 col-sm-8">
      <%= f.text_field :ownership, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Creditline:", class: "col-xs-12 col-sm-3 control-label" %>
    <div class="col-xs-12 col-sm-8">
      <%= f.text_field :creditline, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Flickr URL:", class: "col-xs-12 col-sm-3 control-label" %>
    <div class="col-xs-12 col-sm-8">
      <%= f.text_field :flickr_url, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :tag_list, "Tags (seperated by commas)", class: "col-xs-12 col-sm-3 control-label"%>
    <div class="col-xs-12 col-sm-8">
      <%= f.text_field :tag_list, value: @photo.tag_list.to_s, class: "form-control", placeholder: "Tag_1, Tag_2, ..."%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Kommentare: ", class: "col-xs-12 col-sm-3 control-label"%>
    <div class="col-xs-12 col-sm-8">
      <%= f.text_area :comments, class: "form-control", style: "height: 200px", placeholder: "Hier Kommentare eintragen ..."%>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit "Speichern", class: "center-block btn btn-primary"%>
  </div>
<% end %>
