<%= simple_form_for @photo, html: {class: "form-horizontal"}, wrapper: :horizontal_form do |f|%>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :index_card_no, label: "Indexkarte Nr" %>
  <%= f.input :photo_no, label: "Foto Nr" %>
  <%= f.input :photographer, label: "Fotograf" %>
  <%= f.input :year, label: "Jahr" %>
  <%= f.input :classification, label: "Typ" %>
  <%= f.association :building, include_blank: true, label: "Gebäude" %>
  <%= f.input :content, as: 'text', label: "Inhalt: ", style: "height: 250px", placeholder: "Beschreibung"%>
  <%= f.input :ownership, label: "Besitz" %>
  <%= f.input :creditline, label: "Creditline:" %>
  <%= f.input :flickr_url, label: "Flickr URL:" %>
  <%= f.input :tag_list, input_html: {value: @photo.tag_list.to_s}, label: "Tags (seperated by commas)", placeholder: "Tag_1, Tag_2, ..."%>
  <%= f.input :comments, as: 'text', label: "Kommentare", style: "height: 250px", placeholder: "Hier Kommentare eintragen ..."%>
  <%= f.button :submit, "Speichern", class: "center-block btn btn-primary"%>
<% end %>
