<h1>Photos</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Foto</th>
      <th>index_card_no</th>
      <th>photo_no</th>
      <th>photographer</th>
      <th>year</th>
      <th>type</th>
      <th>architect</th>
      <th>building_name</th>
      <th>address</th>
      <th>content</th>
      <th>ownership</th>
      <th>creditline</th>
      <th>flicker_id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.where.not(photo_no: "0").each do |photo| %>
      <tr>
        <td><%= photo.id %></td>
        <td><%= link_to 'See Photo', photo.path %></td>
        <td><%= photo.index_card_no %></td>
        <td><%= photo.photo_no %></td>
        <td><%= photo.photographer %></td>
        <td><%= photo.year %></td>
        <td><%= photo.type %></td>
        <td><%= photo.architect %></td>
        <td><%= photo.building_name %></td>
        <td><%= photo.address %></td>
        <td><%= photo.content %></td>
        <td><%= photo.ownership %></td>
        <td><%= photo.creditline %></td>
        <td><%= photo.flicker_id %></td>
        <% if current_user %>
          <td><%= link_to 'Show', photo %></td>
          <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
          <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user %>
  <%= link_to 'New Photo', new_photo_path %>
  <h3>Import Photos</h3>
  <%= form_tag import_photos_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag 'Import' %>
  <% end %>
<% end %>
