<%= form_for(@index_card) do |f| %>
  <% if @index_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@index_card.errors.count, "error") %> prohibited this index_card from being saved:</h2>

      <ul>
      <% @index_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :photographer %><br>
    <%= f.text_field :photographer %>
  </div>
  <div class="field">
    <%= f.label :architect %><br>
    <%= f.text_area :architect %>
  </div>
  <div class="field">
    <%= f.label :building_name %><br>
    <%= f.text_field :building_name %>
  </div>
  <div class="field">
    <%= f.label :place %><br>
    <%= f.text_field :place %>
  </div>
  <div class="field">
    <%= f.label :systematic %><br>
    <%= f.text_field :systematic %>
  </div>
  <div class="field">
    <%= f.label :ownership %><br>
    <%= f.text_field :ownership %>
  </div>
  <div class="field">
    <%= f.label :filename %><br>
    <%= f.text_field :filename %>
  </div>
  <div class="field">
    <%= f.label :no_of_photos %><br>
    <%= f.number_field :no_of_photos %>
  </div>
  <div class="field">
    <%= f.label :inventory_date %><br>
    <%= f.date_select :inventory_date %>
  </div>
  <div class="field">
    <%= f.label :creditline %><br>
    <%= f.text_field :creditline %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :year_taken %><br>
    <%= f.number_field :year_taken %>
  </div>
  <div class="field">
    <%= f.label :original_filename %><br>
    <%= f.text_field :original_filename %>
  </div>
  <div class="field">
    <%= f.label :flickr_id %><br>
    <%= f.text_field :flickr_id %>
  </div>
  <div class="field">
    <%= f.label :url_t %><br>
    <%= f.text_field :url_t %>
  </div>
  <div class="field">
    <%= f.label :url_s %><br>
    <%= f.text_field :url_s %>
  </div>
  <div class="field">
    <%= f.label :url_sq %><br>
    <%= f.text_field :url_sq %>
  </div>
  <div class="field">
    <%= f.label :url_m %><br>
    <%= f.text_field :url_m %>
  </div>
  <div class="field">
    <%= f.label :url_o %><br>
    <%= f.text_field :url_o %>
  </div>
  <div class="field">
    <%= f.label :pathalias %><br>
    <%= f.text_field :pathalias %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.number_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
