<p>
  <strong>Photographer:</strong>
  <%= @index_card.photographer %>
</p>

<p>
  <strong>Architect:</strong>
  <%= @index_card.architect %>
</p>

<p>
  <strong>Building name:</strong>
  <%= @index_card.building_name %>
</p>

<p>
  <strong>Place:</strong>
  <%= @index_card.place %>
</p>

<p>
  <strong>Systematic:</strong>
  <%= @index_card.systematic %>
</p>

<p>
  <strong>Ownership:</strong>
  <%= @index_card.ownership %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @index_card.filename %>
</p>

<p>
  <strong>No of photos:</strong>
  <%= @index_card.no_of_photos %>
</p>

<p>
  <strong>Inventory date:</strong>
  <%= @index_card.inventory_date %>
</p>

<p>
  <strong>Creditline:</strong>
  <%= @index_card.creditline %>
</p>

<p>
  <strong>Content:</strong>
  <%= @index_card.content %>
</p>

<p>
  <strong>Year taken:</strong>
  <%= @index_card.year_taken %>
</p>

<p>
  <strong>Original filename:</strong>
  <%= @index_card.original_filename %>
</p>

<p>
  <strong>Flickr:</strong>
  <%= @index_card.flickr_id %>
</p>

<p>
  <strong>Url t:</strong>
  <%= @index_card.url_t %>
</p>

<p>
  <strong>Url s:</strong>
  <%= @index_card.url_s %>
</p>

<p>
  <strong>Url sq:</strong>
  <%= @index_card.url_sq %>
</p>

<p>
  <strong>Url m:</strong>
  <%= @index_card.url_m %>
</p>

<p>
  <strong>Url o:</strong>
  <%= @index_card.url_o %>
</p>

<p>
  <strong>Pathalias:</strong>
  <%= @index_card.pathalias %>
</p>

<p>
  <strong>Title:</strong>
  <%= @index_card.title %>
</p>

<%= link_to 'Edit', edit_index_card_path(@index_card) %> |
<%= link_to 'Back', index_cards_path %>
