<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Wiederaufbau Ost-Berlin</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
	</head>
	<body>

  <div class="container">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div class="navbar navbar-default">
      <div class="container-fluid">
				<div class="navbar-header">
	        <%= link_to 'Wiederaufbau Ost-Berlin', root_path, class: 'navbar-brand'%>
	        <ul class="nav navbar-nav">
						<li><%= link_to 'Gebäude', buildings_path %></li>
	          <li><%= link_to 'Photos', photos_path %></li>
	        </ul>
				</div>
      </div>
    </div>

    <%= yield %>

    <footer class="footer">
      <div class="row">
        <div class="col-sm-3">
          <% if current_user %>
            <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
          <% else %>
            <%= link_to 'Login', new_user_session_path %>
            <% end %>
        </div>
        <div class="col-sm-3">Impressum</div>
        <div class="col-sm-3">Impressum</div>
      </div>
    </footer>

  </div> <!-- /container -->

  <!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
	</body>
</html>
